<div class="call">
    <div class="call-box-top">
    {% if site.data.contact.address %}
        <div class="call-address"><strong>Adresse : </strong> {{ site.data.contact.address }} </div>
    {% endif %}
    {% if site.data.contact.phone %}
        <div class="call-phone"><strong>Téléphone : </strong> {{ site.data.contact.phone }} </div>
    {% endif %}
    {% if site.data.contact.emails %}
    <div class="call-email"><strong>Emails : </strong>
        <ul style="list-style-position: inside">
            {% for contact in site.data.contact.emails %}
            <li><strong>{{ contact.title }} &#8210; </strong>
                <a href="mailto:{{ contact.email }}">
                    {{ contact.email }}
                </a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="button">Contact</a>
      </div>
    {% endif %}
</div>
