<!-- Full Calendar CDN -->
<!-- <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script> -->
<!-- <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.11/index.global.min.js'></script> -->
<!-- Self host calendar -->
<script type="text/javascript" src="/assets/js/fullcalendar-6.1.11/package/index.global.min.js"></script>
<script type="text/javascript" src="/assets/js/google-calendar-6.1.11/package/index.global.min.js"></script>
<!-- Initialize calendar -->
<script>
 document.addEventListener('DOMContentLoaded', function() {
     var calendarEl = document.getElementById('calendar');
     var calendar = new FullCalendar.Calendar(calendarEl, {
         googleCalendarApiKey: 'AIzaSyCw0z8AhZ_dLahsxPo0nrrpp5GtRQacPBM',
         eventSources: [
             {
                 googleCalendarId: '076rkptkh872flvptaafpd01jg@group.calendar.google.com'
             }
         ],
         /* see assets/css/style.scss */
         eventColor: '#c45824',
         eventBorderColor: '#c45824',
         initialView: "{{ layout.calendar }}",
         firstDay: '1',
         listDayFormat: {
             month: 'long',
             day: 'numeric',
             weekday: 'long'
         },
         listDaySideFormat: false


     });
     calendar.setOption('locale', 'fr');
     calendar.render();
 });
</script>
