.page-home {

  .service-alerted-content {
    background: $white-offset;
  }

  .fc .fc-list-event.fc-event-forced-url {
    background-color: #fff;
  }

  .fc-toolbar-title { text-transform: capitalize; }

}
