---
layout: default
bodyClass: "page-home"
---
<!-- intro -->
<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        {% if page.show_call_box %}
          {% include call.html show_button=true %}
        {% endif %}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<!-- services -->
<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
      <div class="row justify-content-start">
      {% assign limit = site.home.limit_services | default: 6 %}
      {% for service in site.services limit: limit %}
        <div class="col-12 col-md-4 mb-1">
            <div class="service service-summary">
                {% if service.weight > 0%}
                {% assign service-class = "service-content" %}
                {% else  %}
                {% assign service-class = "service-content service-alerted-content" %}
                {% endif  %}
          <div class="{{ service-class }}">
            <h2 class="service-title">
              <a href="{{ service.url | relative_url }}">{{ service.title }}</a>
            </h2>
            <p>{{ service.excerpt | markdownify | strip_html | truncate: 200 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
          <a class="button button-primary" href="{{ "services" | relative_url }}">Voir tous nos services</a>
      </div>
    </div>
  </div>
</div>

<!--  map-->
<div class="content">
    <div class="container pb-6 pt-6 pb-md-10">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <h2>Tennis Club Gorbella</h2>
                <p> Le Tennis Club Gorbella est situé sur le boulevard Gorbella dans le quartier Nice Nord, juste à côté de la station de tramway Gorbella (à 15 minutes du centre ville), et à 5 minutes en voiture au sud de la sortie 54 Nice Nord de l’autoroute A8.
                    Avec des zones en plein devenir comme le secteur du Ray et des quartiers historiques comme celui des poètes, Nice Nord offre un visage pluriel et riche.
                    Si vous cherchez un club de tennis familial dans Nice, nous sommes prêts à vous recevoir.
            </div>
            <div class="col-12 col-md-4">
                <a href="https://goo.gl/maps/56B9SdwqGwbXMwrw6" target=”_blank”>
                    <img src="/images/tcgorbella-google-maps.jpg" loading="lazy" title="Trouver le TC Gorbella sur Google Maps" alt="Trouver le TC Gorbella surGoogle Maps" width="350" height="275">
                </a>
            </div>
        </div>
    </div>
</div>


{% include partenaires.html %}

<!-- features -->
{% if site.data.features %}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">

      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}
